/* header */

.top_bar {
    height: 10vh;
    background-color: #2E3A46;
  }

.top_bar img {
width: 50px;
height: 50px;
}

.top_bar img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* main */
main {
    height: 90vh;
    background-color: #1E2D3B;
    overflow: auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: inherit;
  margin: auto;
}
/* card */
.artist_card {
    height: 100%;
    background-color: #2E3A46;
}
.artist_card:hover{
  cursor: pointer;
  box-shadow: 5px 5px 10px 5px #00ff80;
  transform: scale(1.1);
}
.title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.author,
.year {
    color: #656C71;
}